@import "./assets/styles/tailwind.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  height: 100%;
  width: 100%;
}
li {
  list-style: none;
}

/* utilities */

.custom-scrollbar {
  &::-webkit-scrollbar {
    width: 8px; /* For vertical scrollbar */
    height: 8px; /* For horizontal scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }
}
