# only for local build
ENV=production

## sentry  
DOCKER_HUB_USERNAME=
DOCKER_HUB_PASSWORD=
DOCKER_HUB_REPO=

# sentry 
SENTRY_AUTH_TOKEN=
SENTRY_AUTH_TOKEN_REACT=

## VM
VM_IP=
VM_PASSWORD=

# dotenv
DOTENV_KEY=

# tiptap auth token
TIPTAP_AUTH_TOKEN=

# db
POSTGRES_USER=
POSTGRES_PASSWORD=
